.PeopleComment {
    background-color: #f5f5f5;
    padding: 60px 0px;
}
.Comments {
    padding-top: 30px;
}
.Title {
    font-size: 40px;
    color: gray;
}
.Comment {
    display: inline-block;
    height: 150px;
    width: 300px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0px 0px 5px #ccc;
}