.App {
  text-align: center;
}

.Title {
  font-size: 40px;
  color: gray;
}

/* smaller devices */
@media (max-width: 767px) {
  .Content {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1199px) {
  .Content {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 5px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1200px) {

  .Content {
    margin: auto;
    width: 70%;
    text-align: center;
    padding-top: 15px;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
